*{
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10px;
}

.navbar{
  margin-left: 1.3rem;
 width: 90vw;
  display: flex;
  justify-content: space-around;
}
.navbar > button{
  color: aliceblue;
  margin: 2rem 0;
  height: 4rem;
  min-width: 5rem;
 font-size: 1.4rem;
  border:  none;
  background-color: transparent;


  
}
.All{
  background: #f2f0f03a !important;
  border-radius: 1rem;
}
.cardbx{
  background-image: url('https://i.seadn.io/s/production/ed4fa381-a6e9-4d0a-95a6-f7ec228120cb.png?w=500&auto=format');
  height: 35rem;
  width: 95vw;
  opacity: 0.8;
  position: relative;
  margin: 0 auto;
}
.info{
  height: 100%;
  margin-left: 2rem;
  position: absolute;
  top: 28em;
  color: aliceblue;
  font-weight: 800;
  
  
}
.info>h1{
  font-size: 2rem;
}
.info>p{
  margin-top: 1rem;
  font-size: small;
}

.content{
  position: relative;
  z-index: 1; /* Bring content to the foreground */
   /* Black with 50% transparency */
   padding-bottom:2rem;
}

  .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://i.seadn.io/s/production/dafb3c3b-f89e-41c1-a0d0-6239bd07e068.jpg?auto=format&dpr=1&w=1920');    filter: blur(19px);
    opacity: 0.7; /* Apply blur to the background */
    z-index: -1; /* Behind the content */
  }
 .container{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
 }
 .container>.item1>p,.container>.item2>p{
  color: grey;
  font-size: 1.2rem;
  font-weight: 900;
 }

 .footer{
  background-color: #1868b7;
}
.input{
  border-radius: 8px;
  width: 30rem;
  border: none;
  height: 1rem;
  padding: 12px;
}
.button{
  margin: 0 1rem;
  padding: 12px 24px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: #2081e2;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
}
.button:hover{
  opacity: 0.7;
  transition: ease-in-out;
}
.logo{
  padding: 12px;
  background-color: #2081e2;
  border-radius: 8px;
  font-size: 10px;
  cursor: pointer;
}
.logo:hover{
  border: 1px solid white;
  transition: ease-in-out;
}

.section1{
  padding: 2rem 1.1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  
}
.section1 div p{
  width: 70%;
}
.u-l ul li{
  list-style: none;
  color: aliceblue;
  margin: 8px;
  align-items: center;
  text-align: center;
  align-self: center;
}
.list{
  display: flex;
  flex-wrap: wrap;
  margin: 12px 0;
}


/* Section 2 */
.Section2{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: whitesmoke;
  padding: 2rem;
}
.para1{
  width: 25rem;
}
.Section2 a{
  text-decoration: none;
  color: whitesmoke;
}
.Section2 a:hover{
  font-size: 17px;
  transition: ease-in-out;
}
.sec-list p{ 
  margin: 1.2rem 0;
}

/*  */
.Section3, .Sec3-div{
   display: flex; 
   justify-content: space-between;
   padding: 12px;
   color: whitesmoke;
}
.Sec3-div p{
  padding: 0 12px;
}
@media screen and (max-width: 984px) {
  .input{
    width: auto;
  }
  .button{
    padding: 12px;
  }
  .center{
    text-align: center;
  }
  .section1 div p{
    width: auto;
  }
  .sec2 h2{
    margin: 12px 0;
  }
  .para1{
    width: auto;
  }
  .Section2{
    text-align: center;
  }
  .Section3{
    display: block;
    text-align: center;
  }
  .center div div{
    margin: 16px 0
  }
}